/* ---- Основные стили блока (решение задачи) ---- */

.container {
    display: flex; 
    /*делаем контейнер флексом*/
    flex-direction: column; 
    /*выстраиваем элементы сверху вниз*/
    min-height: 100vh; 
    /*отображаем блок на весь экран*/
}

main {
    border: 2px solid #d1d1d1;
    padding: 40px 50px;
    flex: 1; /*flex-grow: 1;*/
    /*элемент занимает максимально свободного пространства*/
}

/* ---- Cтили блока пояснения решения ---- */

.task {
    margin-bottom: 30px;
}

.task span {
    color: rgb(216 15 15 / 88%);
}

.solution {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.solution-stack-code {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stack-btn {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.stack-btn button.html,
.stack-btn button.css,
.stack-btn button.js {
    width: 30%;
    border-radius: 20px;
    padding: 10px 0;
    background-color: #fdfdfd;
    border: 2px solid #d1d1d1;
}

.stack-btn button:hover {
    cursor: pointer;
}

button.html {
    background-color: transparent;
}

.code {
    width: auto;
    height: 100%;
    background-color: #232323;
    padding-top: 10px;
    padding-bottom: 10px;
}

.solution-text {
    width: 38%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-content: space-between;
    flex-wrap: wrap;
}

.text-explain {
    padding: 0 20px;
    flex: 1;
}

.help {
    font-size: 13px;
    color: gray;
}

.solution-explain li {
    text-decoration: none;
}

.text-explain span {
    font-family: monospace;
    color: #dd2c2c;
}

.result-explain {
    font-family: 'Roboto bold';
}

.text-reference {
    padding: 0 20px;
    align-self: flex-end;
}

.text-reference p {
    font-size: 14px;
    text-align: right;
}

/* ---- Стили отображенного кода ---- */

.code-html,
.code-css {
    display: block;
    padding-left: 30px;
}