@font-face {
    font-family: 'Roboto bold';
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto regular';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    width: 75%;
    margin: 0 auto;
    font-family: 'Roboto regular';
    font-weight: normal;
    font-size: 16px;
}

/* ------------------- Стили шапки (header) ------------------- */

header {
    display: grid;
    grid-template-areas: "logo-title choose nav";
    grid-template-columns: 35% 15% 45%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    padding: 10px;
    height: 60px;
    width: auto;
}

.header-logo-title {
    grid-area: logo-title;
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fdfdfd;
    padding: 8px 16px;
}

.header-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /*background-color: rgb(26 49 97 / 79%);*/
    background-color: rgb(216 15 15 / 88%);
    justify-self: center;
    position: relative;
    z-index: 1;
}

.header-logo::before {
    content: "";
    border-radius: 50%;
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #fdfdfd;
    position: absolute;
    right: 10px;
    top: 5px;
    background-color: rgb(239, 239, 239);
    z-index: 2;
}

.header-logo::after {
    content: "";
    display: block;
    width: 15px;
    height: 17px;
    border-left: 3px solid #fdfdfd;
    position: absolute;
    right: -1px;
    top: 5px;
    transform: rotate(335deg);
    z-index: -1;
}

.header-title {
    justify-self: start;
    font-family: 'Roboto bold';
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px 10px 3px 20px;
}

.header-cursor {
    width: 10px;
    height: 20px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    box-sizing: border-box;
    position: relative;
}

.header-cursor::before {
    box-sizing: border-box;
    content: "";
    border-left: 2px solid black;
    display: inline-block;
    height: 100%;
    position: absolute;
    left: calc(50% - 0.8px);
}

.choose-stack {
    grid-area: choose;
    justify-self: end;
    font-size: 16px;
    color: #adadad;
}

.header-nav {
    grid-area: nav;
    align-self: center;
    margin: 0 auto;
    padding: 0;
}


/* ---------------- Меню ------------------ */

/*  ---- Стили кнопок меню ---- */

.header-nav a {
    text-decoration: none;
    color: white;
}

.button-menu {
    position: relative;
    padding: 0 8px 12px;
    min-width: 120px;
    border: none;
    background-color: transparent;
    margin-left: 10px;
}

.button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;
    padding: 8px 16px;
    transform: translateY(0);
    text-align: center;
    color: #6c6c6c;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
    transition-property: transform;
    transition-duration: 0.2s;
    user-select: none;
}

.button-top::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-image: radial-gradient(#ffffff, #e0e0e0);
    text-align: center;
    transition-property: border-radius, padding, width, transform;
    transition-duration: 0.2s;
}

.button-bottom {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: 4px;
    border-radius: 8px / 16px 16px 8px 8px;
    padding-top: 6px;
    width: calc(100% - 8px);
    height: calc(100% - 10px);
    box-sizing: content-box;
    background-color: #fff;
    background-image: radial-gradient(4px 8px at 4px calc(100% - 8px), rgba(255, 255, 255, 0.25), transparent), radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, 0.25), transparent), radial-gradient(16px at -4px 0, white, transparent), radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
    /*box-shadow: 1px 2px 1px 1px rgb(26 49 97 / 79%), inset -1px -3px 4px 2px rgb(64 118 187 / 68%);*/
    box-shadow: 1px 2px 1px 1px rgb(131 31 31 / 79%), inset -1px -3px 6px 2px rgb(121 121 121);
    transition-property: border-radius, padding-top;
    transition-duration: 0.2s;
}

.button-base {
    position: absolute;
    z-index: 0;
    top: 4px;
    left: 0;
    border-radius: 12px;
    width: 100%;
    height: calc(100% - 4px);
    background-color: rgb(0 0 0 / 80%);
}

/* эффекты кнопок при клике*/

.button-menu:active .button-top,
.button-menu:hover .button-top {
    transform: translateY(6px);
}

.button-menu:active .button-top::after,
.button-menu:hover .button-top::after {        
    border-radius: 6px;
    padding: 0 2px;
}

.button-menu:active .button-bottom,
.button-menu:hover .button-bottom {
    border-radius: 10px 10px 8px 8px / 8px;
    padding-top: 0;
}

/* ------------------- Стили, общие для всех блоков (main) ------------------- */

h1 {
    text-align: left;
    font-family: 'Roboto bold';
    font-size: 20px;
}

/* ------------------- Стили подвала (footer) ------------------- */

footer {
    background-color: #444444;
    padding: 10px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer p {
    margin-top: 10px;
    color: #adadad;
}

footer p::before {
    content: "";
    background-image: url(/assets/copyright-regular_grey.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.link:hover {
    cursor: pointer;
}